.page-header, .page-contact-me, .download-page{
    display :none;
}

.page-top-menu {
    padding-top: 200px;  
}

.page-intro {
    break-after: always;
    padding-top: 200px;
}

.page-experience, .page-education{
    padding-top: 100px;
}

.page-skills,  .page-projects {
    break-after: always;
}