@import url("https://fonts.googleapis.com/css?family=Roboto");
/*
@media (prefers-color-scheme: dark) {

    :root {
        --color-tilte: #F9FBFD;
        --color-text: #DCDCDE;
        --background-color: #141C3A;
        --background-color-box: #1d274f;
        --background-color-around: #e5e5e5;
        --accent: #8428F8;
        --ligne-color: #E5EBF2;
        }

}

@media (prefers-color-scheme: light) {

    :root {
        --color-tilte: #141C3A;
        --color-text: #535E88;
        --background-color: #ffffff;
        --background-color-box: #F9FBFD;
        --background-color-around: #e5e5e5;
        --accent: #8428F8;
        --ligne-color: #E5EBF2;
        }

}
*/
:root {
    --color-tilte: #141C3A;
    --color-text: #535E88;
    --background-color: #e5e5e5;
    --background-color-box: #F9FBFD;
    --background-color-around: #ffffff;
    --accent: #8428F8;
    --ligne-color: #E5EBF2;
    }

.dark{
    --color-tilte: #F9FBFD;
    --color-text: #DCDCDE;
    --background-color: #e5e5e5;
    --background-color-box: #1d274f;
    --background-color-around: #141C3A;
    --accent: #8428F8;
    --ligne-color: #535E88;
}

body{

    font-family: "roboto";

    font-weight: 300;
    font-size: 17px;
    line-height: 30px;

    color: var(--color-text);
    background-color: var(--background-color-around);

    max-width: 850em; 
    min-width: 1200px; 
    margin-left: auto; 
    margin-right: auto; 
    
}

body > div{
    background-color: var(--background-color);    
}

h2{

    font-weight: 900;
    font-size: 26px;
    line-height: 30px;

    color: var(--color-tilte);

}



/*
.cv{

    width: 90%;
    margin: auto;

    background-color: var(--background-color);

}
*/

/** --- Header --- */

.page-header{

    color: var(--color-tilte);

    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    background-color: var(--background-color-around);
    border:1px solid var(--background-color-around);

}

.page-header-no-line{

    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;

    height: 116px;

}

.header-title-contener{

    width: 15%;

    margin-left: 10%;
    margin-right: 10%;

}

.header-navbar{

    display: flex;
    justify-content: center;

    width: 50%;

    margin-right: 5%;

}

.navbar-link{

    line-height: 30px;

    margin-left: 3%;
    margin-right: 3%;

    text-decoration: none;

    color: var(--color-tilte);


}

.navbar-link:hover{

    color: var(--accent)

}

.navbar-link-purpule{

    font-weight: 900;
    font-size: 16px;
    line-height: 30px;

    width: 89.08px;

    margin-left: 3%;
    margin-right: 3%;

    text-decoration: none;

    color: var(--accent);

}

.navbar-link-purpule:hover{

    color: var(--color-text)

}


.long-ligne{

    width: auto;
    height: 1px;
    left: 0px;
    top: 86px;

    background: var(--ligne-color);
    
}



.page-header-no-line{

    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;

    height: 116px;

}

.header-title-contener{

    width: 15%;

    margin-left: 10%;
    margin-right: 10%;

}

.header-navbar{

    display: flex;
    justify-content: center;

    width: 50%;

    margin-right: 5%;

}

.navbar-link{

    line-height: 30px;

    margin-left: 3%;
    margin-right: 3%;

    text-decoration: none;

    color: var(--color-tilte);


}

.navbar-link:hover{

    color: var(--accent)

}

.navbar-link-purpule{

    font-weight: 900;
    font-size: 16px;
    line-height: 30px;

    width: 89.08px;

    margin-left: 3%;
    margin-right: 3%;

    text-decoration: none;

    color: var(--accent);

}

.navbar-link-purpule:hover{

    color: var(--color-text)

}


.long-ligne{

    width: auto;
    height: 1px;
    left: 0px;
    top: 86px;

    background: var(--ligne-color);
    
}
}

/** --- Top Menu ---*/

.page-top-menu{
    
    display: flex;
    align-items: center;
    flex-direction: column; 

}

.top-menu-titles-texte-conteneur{
 
    text-align: center;

}

.top-menu-title-conteneur{

    height: 50px;

    margin-top: 5%;

}

.top-menu-title{
    
    left: calc(50% - 941px/2 - 0.5px);
    top: 228px;

    font-weight: 900;
    font-size: 48px;
    line-height: 56px;

    color: var(--color-tilte);

}

/** ---

.top-menu-text-conteneur{
}

.top-menu-text{
}

--*/

.top-menu-illustration-conteneur{

    display: flex;
    justify-content: center;

    margin-top: -18%;
} 


.illustration{

    margin-top: 20%;
    margin-bottom: 2%;

}

.top-menu-contact-conteneur{

    display: flex;
    justify-content: center;
    flex-direction: row; 

    width: 100%;
    height: 60px;

    margin-bottom: 5%;

}

.top-menu-phone{

    display: flex;
    flex-direction: column; 

    width: 20%;

}

.top-menu-contact-info-phone{

    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    flex-direction: column; 

    text-align: right;

    color: var(--color-tilte);

}
.top-menu-contact-info-num{

    display: flex;
    text-align: right;
    flex-direction: column; 

}

.separation{
    
    height: 27px; 
    width: 1px;

    margin: 1.5% 1.5%;

    background-color: var(--ligne-color);

}

.top-menu-email{

    display: flex;
    flex-direction: column; 

    width: 20%;

}

.top-menu-contact-info-email{

    display: flex;
    flex-direction: column; 
    text-align: left;

    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    color: var(--color-tilte);

}

.top-menu-contact-info-adresse{

    display: flex;
    text-align: left;

}

/** --- Intro ---*/

.page-intro{

    background-color:  var(--background-color-box);

    border: 1px solid var(--background-color-box);

}

.intro-all-conteneur{

    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 10%;
    margin-bottom: 10%;
    
}

.intro-title-conteneur{

    margin-bottom: 1.5%;

}

.intro-title{

    font-weight: 900;
    font-size: 26px;
    line-height: 30px;

    color: var(--color-tilte);

}

.im-maria{

    color: var(--accent);

}

.intro-text-conteneur{

    display: flex;
    justify-content: center;
    text-align: center;

    margin-left: 10%; 
    margin-right: 10%;

    width: 70%;

}

.intro-text{

    width: 70%;

}

/** --- experience ---*/

/** ---

.page-experience{
}

--*/

.experience-title-conteneur{
    
    display: flex;
    justify-content: center;

    margin-left: 10%; 
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;

}

.short-ligne{

    width: 80%;
    height: 1px;
    left: 0px;
    top: 86px;

    margin: auto;
    
    background-color: var(--ligne-color);

}

/** ---

.all-conteneur{
}

--*/

.wix-conteneur{

    display: flex;
    flex-direction: column;

    height: -10px;

    margin-top: 5%;

}

.title-conteneur{

    display: flex ;
    justify-content: center;
    align-items: center;

    margin-bottom: 0.75%;

    height: 29px;
    
}

.time-title{

    text-align: right;
    
    width: 50%;

    font-size: 20px;
    color: var(--color-tilte);

}

.vertical-ellipse{

    width: 9px;
    height: 9px;
    background-color: var(--accent);
    border-radius: 50px;

    margin: 2% 100px;
    margin-top: 2.2%;

}

.title{

    width: 50%;

    font-size: 20px;
    color: var(--color-tilte);

}

.text-conteneur{    
    
    display: flex ;
    align-items: flex-start;

    height: 222px;

}
@media screen and (max-width: 1375px) {

    .projects-all-pictures-conteneur{

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    }
}
.text-of-title{

    text-align: right;

    width: 50%;

}

.line-vertical{

    width: 1px;
    height: 224px;
    top: 1px;

    margin: 36px 100px;
    margin-top: -1px;

    background-color: var(--background-color-box);

    border: 1px solid var(--background-color-box);

}

.text{

    width: 50%;
    
}

.google-conteneur{
    
    display: flex;
    flex-direction: column;

    height: -10px;
    
}

.invisible-line-vertical{

    width: 1px;
    height: 224px;
    top: 1px;

    margin: 36px 100px;
    margin-top: -1px;

}


/** --- Skills ---*/

.page-skills{

    width: 80%;

    margin: auto;
    
}

/** ---

.page-skills-header{
}

--*/

.skills-title-conteneur{

    display: flex;
    justify-content: center;

    margin-top: 3%;
    margin-bottom: 3%;
    
}

.skills-all-progress-bar{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin: auto;

    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;

}

.skill-block-progress-bar {

    margin-left: 10%;

}

.skill-title-bar-progress-conteneur {

    margin-bottom: -2px;
    
}

/** ---

.skill-title-bar-progress {
}

--*/

.progress{

    display: flex;
    margin-right: auto;
    align-items: center;
    flex-direction: row;

}

#progressbar{

    display: flex;

    width: 80%;
    height: 6px;
    margin-right: 5%;
    
    border-radius: 13px;
    background: var(--background-color-box); 

}

#progressbar>div{

    width: 80%;
    height: 6px;

    border-radius: 13px;
    background-color: var(--accent);

}

/** Education **/

.page-education{

    background-color:  var(--background-color-box);
    
    border: 1px solid var(--background-color-box);
}

/** ---

.page-education{
}

.page-education-header{
}

--*/

.education-title-conteneur{

    display: flex;
    justify-content: center;

    margin-top: 3%;
    margin-bottom: 3%;
    
    
}

.education-all-blocks-conteneur{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;

    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;

    width: 80%;
    height: 250px;

}

.education-time-conteneur{

    display: flex;
    flex-direction: column;

    height: auto;

    margin-left: 10%;
    margin-right: 10%;

}

.education-time-title{

    margin-bottom: 3%;

    font-size: 20px;

    color: var(--color-tilte);
    
}

.education-title-legend{

    font-weight: 300;
    font-size: 17px;
    line-height: 30px;

    margin-bottom: 7%;

    color: var(--color-text);
    
}

.separation-blokcs{

    display: flex;
    flex-direction: row;
    align-items: center;

    height: auto;
    width: auto;

    margin-left: 10%;

}

.horizontal-ligne{

    height: 1px;
    left: 0px;
    top: 86px;
    width: 100%;

    margin-right: 7%;

    background-color: var(--ligne-color);

}


.horizontal-ellipse{

    width: 9px;
    height: 9px;
    background-color: var(--accent);
    border-radius: 50px;

    margin: auto;
    margin-right: 10%;

}

.education-text-conteneur{

    display: flex;
    flex-direction: column;

    height: auto;
    width: auto;

    margin-left: 10%;
    margin-right: 10%;

}

.education-text-title{

    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 5%;
    margin-top: 7%;

    color: var(--color-tilte);
    
}

.education-text-legend{

    font-weight: 300;
    font-size: 17px;
    line-height: 30px;

    color: var(--color-text);
    
}

/** Projects **/

/** ---

.page-projects{
}

--*/

.space{

    margin-top: 8%

}

/** ---

.page-projects-header{
}

--*/

.projects-title-conteneur{

    display: flex;
    justify-content: center;

    margin-top: 3%;
    margin-bottom: 3%;
    
}

.projects-all-pictures-conteneur{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;

    margin: auto ;
    margin-top: 10%;
    margin-bottom: 10%;

    width: 1200px;
    height: auto;

}

@media screen and (max-width: 1375px) {

    .projects-all-pictures-conteneur{

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    }
}

.projects-pictures-conteneur{

    display: flex;
    justify-content: center;

    margin: 5%;

}

.project{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 350px;

}

/** Contact me **/

/** ---

.page-contact-me-header{
}

--*/

.contact-me-title-conteneur{

    display: flex;
    justify-content: center;

    margin-top: 3%;
    margin-bottom: 3%;

}

.contact-input-conteneur{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 5%;
    margin-bottom: 5%;

}

.contact-input-name-civility{

    display: flex;
    flex-direction: row;
    justify-content:flex-start;

    width: 60%;

}

.input-civility {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    gap: 8px;

    margin-right: 5%;

    width: 25%;

}

select{

    height: 45px;
            
    color: #535E88;

}

.input-name{

    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    gap: 8px;

    height: auto;
    width: 80%;

}

.input{

    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    gap: 8px;

    width: 60%;

    margin-top: 5px;
    border-radius: 40px;

}

.buton-conteneur{

    width: 60%;

}

button{
    
    display: flex;
    justify-content: start;

    border-radius: 40px;
    transition: all ease-in-out 125ms;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    width: 130px;
    height: 70px;
    left: 378px;
    top: 5586px;

    border: 1px solid #5034FF;
    background: #5034FF;
    color: white;

    margin-top: 15px;

}

/** Download**/

.download-page{

    display: flex;
    justify-content: center;

    background-color:  var(--background-color-box);
    
    border: 1px solid var(--background-color-box);
    
}

.download{

    margin-top: 200px;
    margin-bottom: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    width: 471px;
    height: 30px;
    left: calc(50% - 471px/2 - 12.5px);
    top: 6034px;
    
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;

    color: var(--accent);

}
