button {
    background-color: aquamarine;
    border-radius: 40px;
    border: azure;
    color: var(--bw-700);
    padding: 24px 32px;
    font-weight: 24px;
    font-size: 24px;
    line-height: 36px;
    transition: all ease-in-out 125ms;
}