.footer-all-conteneur{

    display: flex;
    flex-direction: column;

    background-color: aqua;


    /*border: 1px solid black;*/
}

.footer-conteneur-adresse{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: auto;
    margin-top: 5%;


    width: 80%;

    /*border: 1px solid red;*/
}


.footer-adress-assoce-conteneur{
    
}

.footer-adresse-title{
    
}

.footer-adresse-conteneur{

    display: flex;
    flex-direction: column;
    
}

.footer-adresse-terme{

}

.footer-ligne{

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    height: 1px;

    margin-left: 5%;

    margin-top: 2% ;
    margin-bottom: 2%;

    border: 1px solid black;
    
}

.footer-copiright-conteneur{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: auto;
    margin-bottom: 5%;

    width: 80%;

    /*border: 1px solid blue;*/
}

.footer-terme{
    margin: 0% 5% ;

    /*border: 1px solid green;*/
}

