body{
    background-color: aqua;
}

.aop-all-conteneur{

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    /*border: 1px solid red;*/
}

.aop-title-all-conteneur{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 1.5%;

    width: 100%;

    /*border: 1px solid blue;*/
}

.aop-ligne{

    width: 35%;
    height: 1px;

    margin-left: 2% ;
    margin-right: 2%;

    background: black;

    /*border: 1px solid black;*/
}

.op-title-conteneur{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aop-title{

    display: flex;
    justify-content: space-between;
    align-items: center;

    /*border: 1px solid green;*/
}

.aop-text-oeuvre{

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 1.5%;

    /*border: 1px solid purple;*/
}

.aop-texte-conteneur{

    display: flex;
    align-items: center;

    width: 23%;

    /*border: 1px solid yellow;*/
}

.aop-texte{

    margin-right: 10%;
    margin-left: 10%;
}

.aop-dessin{

    display: flex;
    align-items: center;

    width: 30%;

    /*border: 1px solid black;*/
}

.illustration{

    width: 100%;
}body{
    background-color: aqua;
}

.aop-all-conteneur{

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    /*border: 1px solid red;*/
}

.aop-title-all-conteneur{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 1.5%;

    width: 100%;

    /*border: 1px solid blue;*/
}

.aop-ligne{

    width: 35%;
    height: 1px;

    margin-left: 2% ;
    margin-right: 2%;

    background: black;

    /*border: 1px solid black;*/
}

.op-title-conteneur{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aop-title{

    display: flex;
    justify-content: space-between;
    align-items: center;

    /*border: 1px solid green;*/
}

.aop-text-oeuvre{

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 1.5%;

    /*border: 1px solid purple;*/
}

.aop-texte-conteneur{

    display: flex;
    align-items: center;

    width: 23%;

    /*border: 1px solid yellow;*/
}

.aop-texte{

    margin-right: 10%;
    margin-left: 10%;
}

.aop-dessin{

    display: flex;
    align-items: center;

    width: 30%;

    /*border: 1px solid black;*/
}

.illustration{

    width: 100%;
}
