/* BANNERS --*/

.banner-contoure-conteneur{

    display: flex;
    flex-direction: row;

    box-shadow: 0px 18px 80px rgba(39, 53, 141, 0.07), 0px 6.5703px 29.2013px rgba(39, 53, 141, 0.0292778), 0px 3.18976px 14.1767px rgba(39, 53, 141, 0.021578), 0px 1.56368px 6.94968px rgba(39, 53, 141, 0.0184521), 0px 0.618281px 2.74791px rgba(39, 53, 141, 0.0153621);

    border-radius: 24px;

    width: 483px;
    height: 100px;
    left: 20px;
    top: 20px;

    background: red;

}

.banner-logo{

    width: 9px;
    height: 9px;
    background-color: red ;
    border-radius: 50px;

}

.banner-texte{

    display: flex;
    flex-direction: column;
    
}

.banner-title-text{
    
}

.banner-text{
    
}

.banner-arrow{
    
}